.category-card {
    padding: 1.5px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 3px 1px grey; */
    width: 45%;
    background-color: rgb(247, 246, 246);
    margin: 5px;
}

.category-link {
    color: black;
    text-decoration: none;
}

.category-image-styles {
  width: 150px;
  height: 150px;
}
@media screen and (min-width:767px) {
    .category-image-styles {
        width: 200px;
    }
}
