   .header {
    background-color: #a8edf7;
    font-family: Times, serif;
    position: sticky;
    top: 0;
    z-index: 100;
   }
   .main-company-title {
      font-size: 18px;
      font-weight: bold;
   }
   .footer {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
   }